<!DOCTYPE html>
<html>
  <body>
    <div class="background-image">
      <form [formGroup]="empresaForm" (ngSubmit)="registrar()">
        <h1>Registro de Empresa</h1>
        <div class="form-group">
          <label for="correo">E-mail:</label>
          <input
            type="email"
            id="correo"
            name="correo"
            formControlName="correo"
            required
          />
          <div
            *ngIf="
              empresaForm.get('correo')?.errors?.['required'] &&
              empresaForm.get('correo')?.touched
            "
          >
            <div *ngIf="empresaForm.get('correo')?.errors?.['required']">
              El campo 'correo' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            name="password"
            formControlName="password"
            required
          />
          <div
            *ngIf="
              empresaForm.get('password')?.errors?.['required'] &&
              empresaForm.get('password')?.touched
            "
          >
            <div *ngIf="empresaForm.get('password')?.errors?.['required']">
              El campo 'password' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password2">Confirmar Password:</label>
          <input
            type="password"
            id="password2"
            name="password2"
            formControlName="password2"
            required
          />
          <div
            *ngIf="
              empresaForm.get('password2')?.errors?.['required'] &&
              empresaForm.get('password2')?.touched
            "
          >
            <div *ngIf="empresaForm.get('password2')?.errors?.['required']">
              El campo 'confirmar password' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="nombre">Nombre de la Empresa:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            formControlName="nombre"
            required
          />
          <div
            *ngIf="
              empresaForm.get('nombre')?.errors?.['required'] &&
              empresaForm.get('nombre')?.touched
            "
          >
            <div *ngIf="empresaForm.get('nombre')?.errors?.['required']">
              El campo 'nombre' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="responsable">Nombre de la Persona Responsable:</label>
          <input
            type="text"
            id="responsable"
            name="responsable"
            formControlName="responsable"
            required
          />
          <div
            *ngIf="
              empresaForm.get('responsable')?.errors?.['required'] &&
              empresaForm.get('responsable')?.touched
            "
          >
            <div *ngIf="empresaForm.get('responsable')?.errors?.['required']">
              El campo 'responsable' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="web">Sitio Web:</label>
          <input type="text" id="web" name="web" formControlName="web" />
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad:</label>
          <input
            type="text"
            id="ciudad"
            name="ciudad"
            formControlName="ciudad"
            required
          />
          <div
            *ngIf="
              empresaForm.get('ciudad')?.errors?.['required'] &&
              empresaForm.get('ciudad')?.touched
            "
          >
            <div *ngIf="empresaForm.get('ciudad')?.errors?.['required']">
              El campo 'ciudad' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input
            type="text"
            id="direccion"
            name="direccion"
            formControlName="direccion"
            required
          />
          <div
            *ngIf="
              empresaForm.get('direccion')?.errors?.['required'] &&
              empresaForm.get('direccion')?.touched
            "
          >
            <div *ngIf="empresaForm.get('direccion')?.errors?.['required']">
              El campo 'dirección' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input
            type="text"
            id="telefono"
            name="telefono"
            formControlName="telefono"
            required
          />
          <div
            *ngIf="
              empresaForm.get('telefono')?.errors?.['required'] &&
              empresaForm.get('telefono')?.touched
            "
          >
            <div *ngIf="empresaForm.get('telefono')?.errors?.['required']">
              El campo 'teléfono' es obligatorio
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <textarea
            id="descripcion"
            name="descripcion"
            formControlName="descripcion"
            required
          ></textarea>
          <div
          *ngIf="
            empresaForm.get('descripcion')?.errors?.['required'] &&
            empresaForm.get('descripcion')?.touched
          "
        >
          <div *ngIf="empresaForm.get('descripcion')?.errors?.['required']">
            El campo 'terminos' es obligatorio
          </div>
        </div>
        </div>
        <div class="form-group">
          <label for="logo">Logo:</label>
          <input type="file" id="logo" name="logo" accept="image/*" required />
        </div>
        <div class="form-group">
          <input
            type="checkbox"
            id="terms"
            name="terms"
            formControlName="terms"
            required
          />
          <div
            *ngIf="
              empresaForm.get('terms')?.errors?.['required'] &&
              empresaForm.get('terms')?.touched
            "
          >
            <div *ngIf="empresaForm.get('terms')?.errors?.['required']">
              El campo 'terminos' es obligatorio
            </div>
          </div>
          <label for="terms"
            >Acepto los términos de uso y la política de seguridad</label
          >
        </div>
        <button type="submit">Registrarse</button>
      </form>
    </div>
  </body>
</html>
