
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #0c3663;
  
}

.image-container img {
  width: 1000px; /* Puedes ajustar el tamaño aquí */
  height: 500px;
  margin: 10px;
}
.menus {
  background-color: #0c3663; /* Azul */
  box-shadow: 0 0 20px rgb(251, 251, 250);
  cursor: pointer;
  padding: 20px;
  
}
menu:hover{
  background-color: #ffbf00;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10%;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: #ffbf00; /* Cambio de color al acercar el puntero */
  text-decoration: underline;
}

a.active {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s; 
  font-weight: bold;

}

label {
  font-size: 15px;
  margin-bottom: 10px;
}

.titleP{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #f4f42a;
  font-size: 15px;
  color: #0c3663;
}

.container {
  display: flex;
}

.column {
  flex: 1;
  padding: 20px;
}

.column.left {
  background-color: #f2f2f2;
}

.column.right {
  background-color: #e6e6e6;
}
button {
  max-width: 320px;
  display: flex;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  gap: 0.75rem;
  color: rgb(65, 63, 63);
  background-color: #fff;
  cursor: pointer;
  transition: all .6s ease;
}

.button svg {
  height: 24px;
}

button:hover {
  transform: scale(1.02);
}
.user_name {
  color: white;
  font-size: 1.2em;
}

.contenedor_pasantia .pasantia {
  border: solid 3px #0c3663;
  margin-top: 3px;
  color: black;
}