
<div class="image-container">
  <div class="slider">
    <div class="slider-container">
      <img [src]="img[currentSlide]" alt="Imagen del carrusel">
    </div>
  
    <div class="slider-indicators">
      <div class="indicator-container">
        <span *ngFor="let image of img; let i=index"
              [class.active]="i === currentSlide"
              (click)="goToSlide(i)"></span>
      </div>
    </div>
  </div>
  
</div>
<nav class="menus">
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a routerLink="/publicar-pasantia" href="#">Publicar pasantia</a></li>
    <li><a href="#">Quiénes somos</a></li>
    <li><a href="#">Contáctanos</a></li>
    <li><a routerLink="/login" href="#">Iniciar sesión</a></li>
  </ul>
</nav>

<body>
  <div class="titleP">
    <h1>PASANTIAS EN BOLIVIA</h1>
  </div>
  <div class="container">
    <div class="column left">
      <!-- Contenido de la columna izquierda -->
      <h2>Columna Izquierda</h2>
      <p>Contenido de la columna izquierda...</p>
    </div>
    <div class="column right">
      <!-- Contenido de la columna derecha -->
      <h2>Columna Derecha</h2>
      <p>Contenido de la columna derecha...</p>
    </div>
  </div>
  
</body>

